.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App__retry {
  color: #333;
  text-decoration: underline;
}

.App__footer {
  background-color: #ddd;
  padding: 6px;
}

.App-link {
  color: #61dafb;
}

.App__hint {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

.Intro {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.Intro__story {
  max-width: 600px;
  font-size: 20px;
}

.Intro__paragraph {
  margin: 30px 0;
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.Intro__paragraph1 {
  animation-delay: 1s;
}

.Intro__paragraph2 {
  animation-delay: 5s;
}

.Intro__paragraph3 {
  animation-delay: 9s;
}

.Intro__paragraph4 {
  animation-delay: 13s;
}

.Intro__paragraph5 {
  animation-delay: 17s;
}

.Intro__paragraph6 {
  animation-delay: 21s;
}

.Homepage__desktop {
  border: 5px solid black;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  max-width: 80vw;
}

.Homepage__apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.Homepage__urlBar {
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 6px;
  padding-top: 6px;
  width: 100%;
}

.Homepage__app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: 1px solid black;
  border-radius: 4px;
}

.Govpage {
  margin: 0 8em;
  margin-bottom: 100px;
}

.Govpage__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.Govpage__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Govpage__link:focus {
  outline: none;
}

.Govpage__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 20px;
}

.Govpage__footer {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.helppage {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.Govpage__paragraph,
.helppage__paragraph {
  margin: 0px auto 50px auto;
  max-width: 70vw;
  display: flex;
  justify-content: center;
  align-self: center;


}

.ScreenreaderButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ScreenreaderButton__cover {
  background-color: #eee;
  border: 1px solid #333;
  border-radius: 2px;
  max-width: 100px;
  cursor: pointer;
}

.ScreenreaderButton__hidden {
  font-size: 2px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -800;
  opacity: 0;
}

@keyframes fadeInOpacity {
from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.KeyboardButton__error {
  color: #333;
  font-size: 14px;
}